<div class='device-container' *ngIf="device">

  <ion-row class="header">
    <ion-col size="11">
      <div class="lines">

        <h3 *ngIf="device.manufacturer && device.model">
          {{ device.manufacturer }} - {{ device.model }}
        </h3>
      
        <h3 *ngIf="!device.manufacturer || !device.model">Πληροφορίες συσκευής δεν υπάρχουν</h3>
      </div>
    </ion-col>
    <ion-col size="1" class="bullets" [id]="'testTrigger'+device._id">
      <ion-img src="assets/images/dots/black/more.png" class="more" alt="more"></ion-img>     
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="device.deviceUUID">
     <p class="uuid">{{ device.deviceUUID }}</p>
  </ion-row>

  <app-custom-popover  class="bullets" [triggerId]="'testTrigger'+device._id" [device]="device" (updatePopover)="getUpdateFromPopover($event)"></app-custom-popover>

  <hr>
  <ion-row>
    <div class="footer">
      
      <p *ngIf="created_at" class="created-at">{{ created_at }}</p>
      <div class="platform" *ngIf="device.platformDevice">
        {{ device.platformDevice }}
      </div>
    </div>
  </ion-row>
</div>
