.custom-popover {
    --background: #0E89D0;
    --backdrop-opacity: 0.6;
    --color: white;
    --width: 200px;
    --border-radius: 8px;
    cursor:pointer;
}

.popover-content {
    --background: #ffffff;
}


.option-grid {
    background-color: #ffffff;
}

.popover-img {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;

}

.centered-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}


.centered-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}


.centered-1:hover {
    background-color: #F1F7FE;
}
.centered-2:hover {
    background-color: #F1F7FE;
}