.custom-popover {
    --background: #0E89D0;
    --backdrop-opacity: 0.6;
    --color: white;
    --width: 200px;
    --border-radius: 8px;
}

.popover-content {
    -background: #ffffff;
}

.option-grid {
    background-color: #ffffff;
}

.popover-img {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;

}

.centered {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}