ion-toolbar {
  --background: #FFFFFF;
  --color: #212121;
}
.inline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
ion-title {
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #212121;
  padding: 0% 1%;
}

ion-button{
  --background: #0E89D0;
  --border-radius: 12px;
  --box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  width: 60px;
}

.add-device{
  min-width: 30px;
  max-width: 30px;
}

.delete{
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}

.deleteAll{
  font-size:16px;
  font-weight: bold;
  color:#932222;
  cursor: pointer;
}

.first-line-home{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding:20px;
}

.login {
    min-width: 30%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}


.img-border {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
}

img {
    min-width: 35px;
    min-height: 35px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}


.title {
    font-size: 32px;
    font-weight: 900;
    color: #212121;
}

.subtitle {
    font-size: 15px;
    font-weight: 500;
    color: #707070;
    max-width: 376px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 100%;
    max-width: 450px;
    margin: auto;

}

.form-label {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 4px;
    color: #333;
    width: 100%;
    text-align: left;
}


.login-button {
    --background: #0E89D0;
    --border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    margin: 30px 10px;
    max-width: 200px;
    height: 48px;
}


/* Position the eye icon correctly to the right */
.password-toggle-icon {
    width: 24px;
    height: 24px;
    position:relative;
    right: 10px;
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

