<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="inline">
      <ion-title>
        {{'home.header'|translate}}
      </ion-title>
         </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'home.header'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

 <div class="login">
  <div class="img-border">
    <img src="assets/images/devices/devices.svg" alt="devices" />
  </div>
  <div class="title">
    {{'login.title'|translate}}
  </div>

  <div class="subtitle">
    {{'login.subtitle'|translate}}
  </div>
  <form class="login-form">

    <label for="email" class="form-label">
      {{ 'login.email' | translate }}
    </label>
    <ion-input id="email" type="email" placeholder="{{ 'login.p-email' | translate }}" [(ngModel)]="email"
      ngModel email errorText="{{ 'login.invalid-email' | translate }}" name="email" class="form-input"></ion-input>


    <label for="password" class="form-label">
      {{ 'login.password' | translate }}
    </label>
    <ion-input id="password" [type]="passwordVisible ? 'text' : 'password'"  [(ngModel)]="password"
      name="password" placeholder="{{ 'login.p-password' | translate }}" class="form-input">
      <ion-img [src]="passwordVisible ? 'assets/images/eye/view/view.png' : 'assets/images/eye/hide/hide.png'"
        slot="end" (click)="togglePasswordVisibility()" class="password-toggle-icon">
      </ion-img>
    </ion-input>

    <ion-button expand="block" class="login-button" [disabled]="!isValid()" (click)="login()" id="open-loading">
      {{ 'login.connect' | translate }}
    </ion-button>

  </form>
  <ion-loading trigger="open-loading" [isOpen]="isLoading" message="Loading..." [duration]="2500" spinner="circles" mode="ios"></ion-loading>

</div>

</ion-content>