<div class="overlay">
  <div class="alertComponent">

    <div class="close-alert" (click)="close()">
      <img src="assets/images/close-btn/close.svg" alt="Close" class="close-btn"/>
    </div>

    <div class="image">
      <img src="assets/images/delete/delete.svg" alt="Alert-cross" class="alert-photo" />
    </div>

    <div class="title">
      <label for="teleia" class="title" >{{ 'alert.title_delete' | translate }}</label>
    </div>

    <div class="subtitle" *ngIf="one">
      {{ message }}
    </div>
    <div class="subtitle" *ngIf="!one">
      {{ 'alert.d_subtitle' | translate }}
    </div>

    <div class="button-line" >
      <ion-button (click)="close()">
        {{ 'alert.cancel_button' | translate }}
      </ion-button>
      <ion-button class="delete" (click)="confirm()">
        {{ 'alert.confirm_button' | translate }}
      </ion-button>
    </div>

  </div>
</div>


<ion-loading class="custom-loading" [isOpen]="isLoading" message="Loading..." [duration]="3000"></ion-loading>