@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/fonts/SF_Pro_Text_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Apply globally */
* {
    font-family: 'SF Pro Text', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-content {
    --background: #F1F7FE;
}

/* Customizing Toast Appearance */
.swal2-toast {
    font-size: 16px; 
    border-radius: 12px;  
}


/* Form Input Styles */
.form-input {
    --background: #ffffff;
    --border-color: #ffffff;
    width: 100%;
    max-width: 500px;
    max-height: 20px;
    margin-bottom: 16px;
    border-radius: 12px; 
}

/* Ion-Input Styles */
ion-input {
    --background: #ffffff;
    --border-radius: 12px; /* Ensures the ion-input has a 12px border-radius */
    --color: #212121;
    font-size: 16px;
    font-weight: 900; /* Ensures the text is bold */
}

/* Apply border-radius to ion-input's native part if required */
ion-input::part(native) {
    border-radius: 12px; /* Apply the same border-radius here for consistency */
}

/* Adjust padding-left for the native input part */
.native-input.sc-ion-input-md {
    padding-left: 10px; 
    padding-right:10px;
}


