@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/fonts/SF_Pro_Text_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Apply globally */
* {
    font-family: 'SF Pro Text', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-content {
    --background: #F1F7FE;
}


// ion-popover {
//     --background: #282d36;
//     --backdrop-opacity: 0.6;
//     --color: white;
//     --width: 300px;
//     --border-radius: 8px;
// }

// ion-popover ion-content {
//     --background: #ffffff;

// }

// ion-popover::part(backdrop) {
//     background-color: rgba(6, 14, 106, 0.6);
// }

// ion-popover .popover-content {
//     display: flex;
//     flex-direction: column;
// }