<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="inline">
      <ion-title>
        {{'home.header'|translate}}
      </ion-title>
      <ion-button *ngIf="authorized">
        <img src="assets/images/add-device/white/add.svg" alt="Add" class="add-device" (click)="openAddDevice()">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'home.header'|translate}}</ion-title>

    </ion-toolbar>
  </ion-header>

  <app-login *ngIf="!authorized"></app-login>
  <app-device-management *ngIf="authorized"></app-device-management>
  <app-device-form *ngIf="addDevices"></app-device-form>
</ion-content>