<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="inline">
      <ion-title>
        {{'home.header'|translate}}
      </ion-title>
      <ion-button *ngIf="authorized">
        <img src="assets/images/add-device/white/add.svg" alt="Add" class="add-device" (click)="openAddDevice()">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'home.header'|translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-login *ngIf="!authorized"></app-login>
  <ion-row class="first-line-home" *ngIf="authorized">
    <ion-col size="9">
    <app-category-search (search)="getSearch($event)"></app-category-search>
    </ion-col>
    <ion-col size="3" class="delete" (click)="deleteThem()">
    <div class="deleteAll">{{'home.deleteAll'|translate}}</div>
    </ion-col>
  </ion-row>
  <app-device-management *ngIf="authorized" [update]="updateList" [searchTerm]="searchTerm"></app-device-management>
  <app-device-form *ngIf="addDevices" (closeModal)="closeForm($event)"  (updateDeviceList)="update($event)"
  ></app-device-form>
</ion-content>


<app-delete-alert 
 [one]="false"
  *ngIf="isDelete" 
  (deleteClose)="closeDeleteAlert($event)"
  (updateDeleteAll)="updateFromDelete($event)"
  ></app-delete-alert>
